<article>
  <article class="clan-info">
    <img src={{clan.clanLogo}} alt="Leaderboard">
    <h1>{{clan.clanName}}</h1>
  </article>
  <table>
  <thead>
    <tr class="table-header">
      <th class="left">Rank</th>
      <th>Name</th>
      <th class="hide-mobile">Town Hall</th>
      <th>Stars</th>
      <th class="right">Percentage</th>
    </tr>
  </thead>
  <tbody>
    @for (member of clan.leaderboard; track member.rank) {
      <tr [class.bonus]="member.bonus">
        <td>{{member.rank}}</td>
        <td>{{member.name}}</td>
        <td class="hide-mobile">{{member.th}}</td>
        <td>{{member.stars}}</td>
        <td>{{member.percentage}}</td>
      </tr>
    }
  </tbody>
</table>
</article>


