@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

th {
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
}

td {
  border-style: solid;
  border-width: 1px;
  border-bottom: 1px solid #4f4d52 !important;
  border-color: inherit;
  padding: 10px;
}

tr {
  overflow: auto;
  border-color: #167a3700;
  border-radius: 129px;
}

.table-header {
  background-color: #3d0704;
  padding: 10px;
}

table {
  padding: 10px;
  text-align: left;
  justify-self: center;
  width: 100%;
  font-style: normal;
  border-spacing: 0;
  border-radius: 12px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 50rem;
  justify-self: center;
}

.clan-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Luckiest Guy", cursive;
}

.bonus{
  background-color: #d28e1752;
}

.left{
  border-radius: 12px 0 0 0;
}

.right{
  border-radius: 0 12px 0 0;
}

@media screen and (max-width: 600px){
  .hide-mobile{
    display: none;
  }

  table {
    max-width: 100%;
    padding: 0;
  }
}

