@if(selected){
  <article>
    <h2>No data found</h2>
    <p>Please check the clan tag and try again.</p>
    <p>Or its not clan war league time and this app is useless.</p>
    <article class = 'Images'>
      <img src="assets/Confused-Barb.png" alt="Tis Confusion" class="confused-barb">
      <img src="assets/Baby-E-Drag.png" alt="Tis Confusion" class="baby-e-drag">
    </article>
  </article>
}@else{
<article>
  <h2>Enter a clan tag</h2>
  <p>Note: if its not clan war league time this app is useless.</p>
  <img src="assets/wizard.png" alt="Tis Confusion" class="wizard">
</article>
}
